[Unit]
Description=Auto-mapper on port 2796%i
After=quake3@.service

[Service]
User=ec2-user
Type=simple
ExecStart=/usr/bin/auto-mapper 2796%i
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
